
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

@font-face {
 font-family: 'Playfair Display';
 src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}


.heropage{
  font-family: 'Playfair Display', serif;
  background-image: url("lumiere.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  color: #3e2f24;
}


/* tint */
.heropage::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: rgba(255, 244, 229, 0.4); /* beige-orange */
 mix-blend-mode: multiply;
 z-index: 0;
}



/* Navigation Menu */
   .heropage .nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(108, 47, 11, 0.95);
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 1;
   }

   .heropage .list-left, .list-right {
     display: flex;
     list-style: none;
     gap: 2rem;
   }

   .heropage .list-left li a,
   .list-right li a {
     text-decoration: none;
     color: #fefefe;
     font-size: 1.1rem;
     transition: all 0.3s ease;
   }

  .heropage .logo {
     font-size: 1.5rem;
     font-weight: bold;
     color: #fff9f2;
   }

  .heropage .list-left li a:hover:not(.logo),
   .list-right li a:hover {
     transform: scale(1.1);
     color: #ffe3ba;
   }



/* Content */
 .heropage .hero{
  margin-top: 50px;
  padding: 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  z-index:0;
  }

 .heropage .image {
  position:relative;
  float:right;
  width: 60%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
 }




/* Best Sellers */

.bspage {
  background-color: #e8d8c3;
  background-size: cover;
  text-align:center;
}  
.bspage h2{
  font-family: "Xanh Mono", monospace;
  font-size:3rem;
  padding-top:5rem;

}

.bspage h2 .w1{
  color:#b08263;
}

.bspage h2 .w2{
  color:#864618;
}

.bspage h3 {
  color:#e4c282ee;
  font-size:1.5rem;
  /*font-family:*/
  margin-bottom: 8rem;
}


.best-sellers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

  


