
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

@font-face {
 font-family: 'Playfair Display';
 src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}


.heropage{
  font-family: 'Playfair Display', serif;
  background-image: url("lumiere.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  color: #3e2f24;
}


/* tint */
.heropage::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: rgba(255, 244, 229, 0.4); /* beige-orange */
 mix-blend-mode: multiply;
 z-index: 0;
}



/* Navigation Menu */
  .heropage .nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(108, 47, 11, 0.95);
  font-family: 'Playfair Display', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  z-index: 1;
  }

  .heropage .list-left, .list-right {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .heropage .list-left li a,
  .list-right li a {
    text-decoration: none;
    color: #fefefe;
    font-size: 1.1rem;
    transition: all 0.3s ease;
  }

.heropage .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff9f2;
  }

.heropage .list-left li a:hover:not(.logo),
  .list-right li a:hover {
    transform: scale(1.1);
    color: #ffe3ba;
  }



/* Content */
 .heropage .hero{
  margin-top: 50px;
  padding: 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  z-index:0;
  }

 .heropage .image {
  position:relative;
  float:right;
  width: 60%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
 }




/* Best Sellers */
/* page */
  .bspage {
    background-color: #e8d8c3;
    background-size: cover;
    text-align:center;
  }  
  .bspage h2{
    font-family: "Xanh Mono", monospace;
    font-size:3rem;
    padding-top:5rem;

  }

  .bspage h2 .w1{
    color:#b08263;
  }

  .bspage h2 .w2{
    color:#864618;
  }

  .bspage h3 {
    color:#dbb265ee;
    font-size:1.7rem;
    font-family:"Handlee", cursive;
    margin: 1rem;
  }


.bsgrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.1rem;
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 2rem;
 }

.itemcard {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 100%;
  position: relative;
}

.itemcard:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.itemcard img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  display: block; 
  object-fit: cover;
  padding:5px 8px;
}

.itemcard h3{
  color:#e4c282ee;
  font-size:1.7rem;
  font-family:"Handlee", cursive;
  margin: 2rem 1rem 1rem 1rem;
}

.itemcard .cake{
  font-size:1.5rem;
  margin: 2rem 0.8rem 0.8rem 1.5rem;
}

.itemcard p {
  font-size: 0.95rem;
  padding: 1rem;
  font-family: "Open Sans", serif;
  color:#7a6c5d
}

/* Category Badges */
.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 10px;
  font-size: 0.75rem;
  color: white;
  border-radius: 999px;
  font-family: 'Playfair Display', serif;
}

.badge.tea {
  background-color: #6e9e70;
}

.badge.coffee {
  background-color: #a67b5b;
}

.badge.dessert {
  background-color: #c97f7f;
}




  

  /* Footer at bottom 
  .itemcard .bs-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* push it down 
    padding-top: 1rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
  }

  .right{
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
  }

  .add-cart {
    background-color: #a9746e;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display: inline-block;
    cursor: pointer;
  }

  .add-cart:hover {
    background-color: #bd5871;
  }

  .fav{
    display:inline-block;
    background-color: white;
    border: 2px solid;
    border-color: rgb(199, 2, 107);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
  } 
  */

